USE [master]
GO
/****** Object:  Database [QLCAFFE]    Script Date: 10/24/2015 21:04:27 ******/
CREATE DATABASE [QLCAFFE] ON  PRIMARY 
( NAME = N'MrLong_QLCaffe', FILENAME = N'D:\DuAn_MaNguon\Sell source code\winform\code phần mềm quản lý karaoke, Karaoke C#, c# mô hình 3 lớp\Database\MrLong_QLCaffe.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MrLong_QLCaffe_log', FILENAME = N'D:\DuAn_MaNguon\Sell source code\winform\code phần mềm quản lý karaoke, Karaoke C#, c# mô hình 3 lớp\Database\MrLong_QLCaffe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCAFFE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCAFFE]
GO
/****** Object:  Table [dbo].[tblNhanVien]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNhanVien](
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](30) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[SoDienThoai] [nvarchar](20) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[GioiTinh] [nvarchar](5) NOT NULL,
	[TenDangNhap] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[QuyenHan] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_25869641] ON [dbo].[tblNhanVien]([TenNhanVien]) WITH STATS_STREAM = 0x01000000010000000000000000000000863FA76400000000DB020000000000009B02000000000000E7032000E70000003C0000000000000008D00034C365E70007000000C6398B0154A000000400000000000000040000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000D84100008040000000000000D841000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000AB000000000000003701000000000000180000000000000043000000000000007600000000000000300010000000803F000000000000803F04000001002B004700690061006E00670020004B00750074006500300010000000803F000000000000803F0400000100330048006F00E0006E006700200054006800CB1E20004800D31E6E0067003000100000000040000000000000803F040000010035004E00670075007900C51E6E0020001001E91E630020004C006F006E006700FF0100000000000000040000000300000028000000280000000000000000000000270000004700690061006E00670020004B0075007400650048006F00E0006E006700200054006800CB1E20004800D31E6E0067004E00670075007900C51E6E0020001001E91E630020004C006F006E006700040000004000000000810A000000810E0A0000020F18000000
GO
CREATE STATISTICS [_WA_Sys_00000003_25869641] ON [dbo].[tblNhanVien]([DiaChi]) WITH STATS_STREAM = 0x0100000001000000000000000000000004A724AD000000003D03000000000000FD02000000000000E7030000E7000000640000000000000008D000340000000007000000D4398B0154A0000004000000000000000400000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000000000EC4100008040000000000000EC41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000F2000000000000009901000000000000200000000000000047000000000000008600000000000000AF00000000000000300010000000803F000000000000803F0400000100270010016900C71E6E0020004200E0006E00300010000000803F000000000000803F04000001003F0050006800FA0020004E0069006E00680020002D00200051007500A31E6E00670020004E0061006D00300010000000803F000000000000803F0400000100290051007500A31E6E00670020004E0061006D00300010000000803F000000000000803F040000010043005400680003016E00670020004200EC006E00680020002D00200051007500A31E6E00670020004E0061006D00FF01000000000000000400000004000000280000002800000000000000000000003200000010016900C71E6E0020004200E0006E0050006800FA0020004E0069006E00680020002D00200051007500A31E6E00670020004E0061006D005400680003016E00670020004200EC006E00680020002D00200051007500A31E6E00670020004E0061006D0005000000400000000081080000008114080000810913000001161C000000
GO
CREATE STATISTICS [_WA_Sys_00000004_25869641] ON [dbo].[tblNhanVien]([SoDienThoai]) WITH STATS_STREAM = 0x01000000010000000000000000000000699FBED500000000E502000000000000A502000000000000E7030A02E7000000280000000000000008D00034F0BF9B0507000000D4398B0154A0000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000008841000080400000000000008841000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000C000000000000000410100000000000020000000000000004D000000000000007A000000000000009F00000000000000300010000000803F000000000000803F04000001002D0030003100360035003800390034003900330035003000300010000000803F000000000000803F04000001002D0030003100360037003300330036003600380036003000300010000000803F000000000000803F040000010025003000310036003800390030002D00300010000000803F000000000000803F0400000100210030003100370038003900FF01000000000000000400000004000000280000002800000000000000000000001A00000030003100360035003800390034003900330035003000370033003300360036003800360030003800390030002D003700380039000700000040000000004002000000C001020000810803000081080B00000104130000010317000000
GO
CREATE STATISTICS [_WA_Sys_00000005_25869641] ON [dbo].[tblNhanVien]([NgaySinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000CC689AC4000000000502000000000000C5010000000000003D0300003D000000080017030000000000000000F0BF9B0507000000E7398B0154A000000400000000000000040000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000018000000000000410000804000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000006900000000000000180000000000000033000000000000004E00000000000000100018000000803F000000000000803F000000004A840000040000100018000000803F000000000000803F00000000848400000400001000180000000040000000000000803F0000000052A00000040000
GO
CREATE STATISTICS [_WA_Sys_00000006_25869641] ON [dbo].[tblNhanVien]([GioiTinh]) WITH STATS_STREAM = 0x01000000010000000000000000000000694FEC1A000000003202000000000000F201000000000000E7030000E70000000A0000000000000008D000340000000007000000E7398B0154A0000004000000000000000400000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000B04000008040000000000000B04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000048000000000000008E0000000000000010000000000000002D000000000000003000100000004040000000000000803F04000001001D004E0061006D00300010000000803F000000000000803F04000001001B004E00EF1EFF0100000000000000040000000200000028000000280000000000000000000000040000004E0061006D00EF1E04000000400000000040010000008302010000010103000000
GO
CREATE STATISTICS [_WA_Sys_00000007_25869641] ON [dbo].[tblNhanVien]([TenDangNhap]) WITH STATS_STREAM = 0x010000000100000000000000000000001CD38CF1000000000B02000000000000CB01000000000000E7039B05E7000000280000000000000008D000340000000007000000C9170C0152A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000290000000000000067000000000000000800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00FF010000000000000001000000010000002800000028000000000000000000000005000000610064006D0069006E00020000004000000000010500000000
GO
CREATE STATISTICS [_WA_Sys_00000008_25869641] ON [dbo].[tblNhanVien]([MatKhau]) WITH STATS_STREAM = 0x01000000010000000000000000000000B64BA02E000000003D02000000000000FD01000000000000E7030000E7000000640000000000000008D000340000000007000000E964840154A0000004000000000000000400000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000304100008040000000000000304100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000054000000000000009900000000000000100000000000000031000000000000003000100000000040000000000000803F04000001002100310032003300340035003000100000000040000000000000803F04000001002300310032003300340035003600FF0100000000000000040000000200000028000000280000000000000000000000060000003100320033003400350036000300000040000000004205000000020105000000
GO
CREATE STATISTICS [_WA_Sys_00000009_25869641] ON [dbo].[tblNhanVien]([QuyenHan]) WITH STATS_STREAM = 0x0100000001000000000000000000000046B4A4640000000053020000000000001302000000000000E7030000E7000000280000000000000008D000340400000007000000E7398B0154A0000004000000000000000400000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000060410000804000000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000005A00000000000000AF00000000000000100000000000000031000000000000003000100000000040000000000000803F04000001002100410064006D0069006E003000100000000040000000000000803F040000010029004E006800E2006E00200076006900EA006E00FF01000000000000000400000002000000280000002800000000000000000000000E000000410064006D0069006E004E006800E2006E00200076006900EA006E000300000040000000008205000000020905000000
GO
UPDATE STATISTICS [dbo].[tblNhanVien]([PK_NhanVien]) WITH STATS_STREAM = 0x01000000010000000000000000000000484C40E0000000000F02000000000000CF01000000000000E7039B05E7000000140000000000000008D0003461006D00070000007BFB0A0152A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002B000000000000006B000000000000000800000000000000300010000000803F000000000000803F040000010023004E0056003000300030003100FF0100000000000000010000000100000028000000280000000000000000000000060000004E0056003000300030003100020000004000000000010600000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
INSERT [dbo].[tblNhanVien] ([MaNhanVien], [TenNhanVien], [DiaChi], [SoDienThoai], [NgaySinh], [GioiTinh], [TenDangNhap], [MatKhau], [QuyenHan]) VALUES (N'NV0001', N'Đinh Đắc ESon', N'Hà Nội', N'0982925365', CAST(0x00007F8A00000000 AS DateTime), N'Nam', N'admin', N'admin', N'Admin')
INSERT [dbo].[tblNhanVien] ([MaNhanVien], [TenNhanVien], [DiaChi], [SoDienThoai], [NgaySinh], [GioiTinh], [TenDangNhap], [MatKhau], [QuyenHan]) VALUES (N'NV0002', N'Nguyễn Thị Thảo', N'Hà Nội', N'0972583192', CAST(0x000080E300000000 AS DateTime), N'Nữ', N'thao', N'123456', N'Nhân viên')
/****** Object:  Table [dbo].[tblLoaiSP]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiSP](
	[MaLoaiSP] [nvarchar](10) NOT NULL,
	[TenLoaiSP] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblLoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_15502E78] ON [dbo].[tblLoaiSP]([TenLoaiSP]) WITH STATS_STREAM = 0x01000000010000000000000000000000CBFDF166000000004B020000000000000B02000000000000E702803FE7000000640000000000000008D0003400000000070000002D7375014DA0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000040410000004000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000005600000000000000A70000000000000010000000000000002D00000000000000300010000000803F000000000000803F04000001001D00420069006100300010000000803F000000000000803F040000010029004E00B001DB1E630020006E006700CD1E7400FF01000000000000000200000002000000280000002800000000000000000000000C0000004200690061004E00B001DB1E630020006E006700CD1E74000300000040000000008103000000010903000000
GO
UPDATE STATISTICS [dbo].[tblLoaiSP]([PK_tblLoaiSP]) WITH STATS_STREAM = 0x01000000010000000000000000000000CB5C6422000000000702000000000000C701000000000000E7039B05E7000000140000000000000008D0003461006D00070000000D676A014DA0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000270000000000000063000000000000000800000000000000300010000000803F000000000000803F04000001001F004C00300030003100FF0100000000000000010000000100000028000000280000000000000000000000040000004C00300030003100020000004000000000010400000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
INSERT [dbo].[tblLoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'L001', N'Nước ngọt')
INSERT [dbo].[tblLoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'L003', N'Cafe')
INSERT [dbo].[tblLoaiSP] ([MaLoaiSP], [TenLoaiSP]) VALUES (N'L004', N'Nước chanh')
/****** Object:  Table [dbo].[tblKhuVuc]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhuVuc](
	[MaKhuVuc] [nvarchar](10) NOT NULL,
	[TenKhuVuc] [nvarchar](30) NOT NULL,
	[GiaPhong] [int] NULL,
 CONSTRAINT [PK_tblKhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_7D78A4E7] ON [dbo].[tblKhuVuc]([TenKhuVuc]) WITH STATS_STREAM = 0x01000000010000000000000000000000981B5CFB0000000082020000000000004202000000000000E7030000E70000003C0000000000000008D0003400000000070000006FCA06014DA000000400000000000000040000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000000028410000804000000000000028410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000007F00000000000000DE000000000000001800000000000000370000000000000054000000000000003000100000000040000000000000803F04000001001F00610063006C006F00300010000000803F000000000000803F04000001001D0041006C006F00300010000000803F000000000000803F04000001002B0050006800F2006E00670020006C00A11E6E006800FF01000000000000000400000003000000280000002800000000000000000000000E000000610063006C006F0050006800F2006E00670020006C00A11E6E006800050000004000000000C00100000082030100000102020000010A04000000
GO
CREATE STATISTICS [_WA_Sys_00000003_7D78A4E7] ON [dbo].[tblKhuVuc]([GiaPhong]) WITH STATS_STREAM = 0x010000000100000000000000000000007FFC2A460000000094010000000000005401000000000000380282033800000004000A0000000000000000000000000007000000DD18A900D3A0000004000000000000000400000000000000000000000000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000001400000000000000000080400000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
GO
UPDATE STATISTICS [dbo].[tblKhuVuc]([PK_tblKhuVuc]) WITH STATS_STREAM = 0x0100000001000000000000000000000037487B96000000000702000000000000C701000000000000E7030000E7000000140000000000000008D000340000000007000000A62DF1004DA0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000270000000000000063000000000000000800000000000000300010000000803F000000000000803F04000001001F004B00560030003100FF0100000000000000010000000100000028000000280000000000000000000000040000004B00560030003100020000004000000000010400000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
INSERT [dbo].[tblKhuVuc] ([MaKhuVuc], [TenKhuVuc], [GiaPhong]) VALUES (N'KV01', N'Phòng lạnh', 50000)
INSERT [dbo].[tblKhuVuc] ([MaKhuVuc], [TenKhuVuc], [GiaPhong]) VALUES (N'KV02', N'Trong nhà', 40000)
INSERT [dbo].[tblKhuVuc] ([MaKhuVuc], [TenKhuVuc], [GiaPhong]) VALUES (N'KV03', N'Tầng 2', 30000)
/****** Object:  Table [dbo].[tblThongTin]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblThongTin](
	[TenQuan] [nvarchar](50) NULL,
	[SoDienThoai] [varchar](20) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[LoiChuc] [nvarchar](50) NULL,
	[ID] [nchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[tblThongTin] WITH ROWCOUNT = 1, PAGECOUNT = 1
GO
CREATE STATISTICS [_WA_Sys_00000001_3A81B327] ON [dbo].[tblThongTin]([TenQuan]) WITH STATS_STREAM = 0x0100000001000000000000000000000080587683000000003302000000000000F301000000000000E702803FE7000000640000000000000008D000340000000007000000D6A34C01D9A0000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000F0410000803F000000000000F0410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000003D000000000000008F000000000000000800000000000000300010000000803F000000000000803F040000010035004B006100720061006F006B00650020004D00720020004C006F006E006700FF01000000000000000100000001000000280000002800000000000000000000000F0000004B006100720061006F006B00650020004D00720020004C006F006E006700020000004000000000010F00000000
GO
CREATE STATISTICS [_WA_Sys_00000002_3A81B327] ON [dbo].[tblThongTin]([SoDienThoai]) WITH STATS_STREAM = 0x01000000010000000000000000000000208C2ED1000000000D02000000000000CD01000000000000A7029B05A7000000140000000000000008D000340000000007000000D7A34C01D9A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000030410000803F00000000000030410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002A0000000000000069000000000000000800000000000000300010000000803F000000000000803F040000010022003031363733333636383630FF01000000000000000100000001000000280000002800000000000000000000000B0000003031363733333636383630020000004000000000010B00000000
GO
CREATE STATISTICS [_WA_Sys_00000003_3A81B327] ON [dbo].[tblThongTin]([DiaChi]) WITH STATS_STREAM = 0x0100000001000000000000000000000034C9F8C1000000001B02000000000000DB01000000000000E7020034E7000000640000000000000008D000340100000007000000D8A34C01D9A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000090410000803F0000000000009041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000310000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100290051005500A31E6E00670020004E0061006D00FF01000000000000000100000001000000280000002800000000000000000000000900000051005500A31E6E00670020004E0061006D00020000004000000000010900000000
GO
CREATE STATISTICS [_WA_Sys_00000004_3A81B327] ON [dbo].[tblThongTin]([LoiChuc]) WITH STATS_STREAM = 0x01000000010000000000000000000000A555341D000000002702000000000000E701000000000000E7020000E7000000640000000000000008D00034D8A34C0107000000DCA34C01D9A0000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000C0410000803F000000000000C041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000370000000000000083000000000000000800000000000000300010000000803F000000000000803F04000001002F0043006800FA00630020006D006100790020006D00AF1E6E00FF01000000000000000100000001000000280000002800000000000000000000000C00000043006800FA00630020006D006100790020006D00AF1E6E00020000004000000000010C00000000
GO
CREATE STATISTICS [_WA_Sys_00000005_3A81B327] ON [dbo].[tblThongTin]([ID]) WITH STATS_STREAM = 0x010000000100000000000000000000003DB6399800000000CB010000000000008B01000000000000EF020A02EF000000140000000000000008D00034F0BF9B050700000036BA8501DEA0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000024000000000000000000803F0000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000002F00000000000000FF01000000010000000100000001000000280000002800000000000000000000000000000001000000000000000000
GO
INSERT [dbo].[tblThongTin] ([TenQuan], [SoDienThoai], [DiaChi], [LoiChuc], [ID]) VALUES (N'Karaoke Heaven', N'0510.3.112.102', N'81 Lý Thường Kiệt - Tam Kỳ', N'Chúc quý khách vui vẽ', N'1         ')
/****** Object:  Table [dbo].[tblSanPham]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSanPham](
	[MaSanPham] [nvarchar](10) NOT NULL,
	[TenSanPham] [nvarchar](30) NULL,
	[MaLoaiSP] [nvarchar](10) NULL,
	[DonGia] [int] NULL,
	[DonViTinh] [nvarchar](10) NULL,
 CONSTRAINT [PK_tblSanPham] PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_07020F21] ON [dbo].[tblSanPham]([TenSanPham]) WITH STATS_STREAM = 0x010000000100000000000000000000007E315BCB0000000043020000000000000302000000000000E7020000E70000003C0000000000000008D000340000000007000000D42103004EA0000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000204100000040000000000000204100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000052000000000000009F0000000000000010000000000000003100000000000000300010000000803F000000000000803F0400000100210050006500700073006900300010000000803F000000000000803F040000010021005300740069006E006700FF01000000000000000200000002000000280000002800000000000000000000000A000000500065007000730069005300740069006E0067000300000040000000008105000000010505000000
GO
CREATE STATISTICS [_WA_Sys_00000003_07020F21] ON [dbo].[tblSanPham]([MaLoaiSP]) WITH STATS_STREAM = 0x010000000100000000000000000000003B598F4D0000000096020000000000005602000000000000E7020000E7000000140000000000000008D0003400000000070000007153C5005FA000000A000000000000000A00000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000000410000204100000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000009C00000000000000F20000000000000020000000000000003F000000000000005E000000000000007D000000000000003000100000008040000000000000803F04000001001F004C003000300031003000100000000040000000000000803F04000001001F004C00300030003200300010000000803F000000000000803F04000001001F004C003000300033003000100000004040000000000000803F04000001001F004C00300030003500FF01000000000000000A0000000400000028000000280000000000000000000000070000004C003000300031003200330035000600000040000000004003000000840103000082010400008101050000030106000000
GO
UPDATE STATISTICS [dbo].[tblSanPham]([PK_tblSanPham]) WITH STATS_STREAM = 0x0100000001000000000000000000000056A406C2000000000B02000000000000CB01000000000000E7039B05E7000000140000000000000008D00034FFFFFFFF0700000090F002004EA0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000020410000803F0000000000002041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000290000000000000067000000000000000800000000000000300010000000803F000000000000803F0400000100210053005000300030003100FF01000000000000000100000001000000280000002800000000000000000000000500000053005000300030003100020000004000000000010500000000, ROWCOUNT = 8, PAGECOUNT = 1
GO
INSERT [dbo].[tblSanPham] ([MaSanPham], [TenSanPham], [MaLoaiSP], [DonGia], [DonViTinh]) VALUES (N'SP0004', N'Sting', N'L001', 8000, N'Chai')
INSERT [dbo].[tblSanPham] ([MaSanPham], [TenSanPham], [MaLoaiSP], [DonGia], [DonViTinh]) VALUES (N'SP0005', N'Cacao nóng', N'L001', 9000, N'Ly')
INSERT [dbo].[tblSanPham] ([MaSanPham], [TenSanPham], [MaLoaiSP], [DonGia], [DonViTinh]) VALUES (N'SP0007', N'Thuốc con ngựa', N'L003', 20000, N'Gói')
/****** Object:  Table [dbo].[tblBan]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBan](
	[MaBan] [nvarchar](10) NOT NULL,
	[TenBan] [nvarchar](30) NOT NULL,
	[MaKhuVuc] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_tblBan] PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_182C9B23] ON [dbo].[tblBan]([TenBan]) WITH STATS_STREAM = 0x010000000100000000000000000000005B498A80000000003D02000000000000FD01000000000000E7030000E70000003C0000000000000008D0003400000000070000006CB12D014DA0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000030410000004000000000000030410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000005400000000000000990000000000000010000000000000003100000000000000300010000000803F000000000000803F040000010021004200E0006E0020003100300010000000803F000000000000803F040000010023004200E0006E00200031003400FF0100000000000000020000000200000028000000280000000000000000000000060000004200E0006E002000310034000300000040000000004105000000010105000000
GO
CREATE STATISTICS [_WA_Sys_00000003_182C9B23] ON [dbo].[tblBan]([MaKhuVuc]) WITH STATS_STREAM = 0x010000000100000000000000000000003603A518000000003A02000000000000FA01000000000000E7030000E7000000140000000000000008D000340000000007000000F3E927014DA0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000000410000004000000000000000410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000004E00000000000000960000000000000010000000000000002F00000000000000300010000000803F000000000000803F04000001001F004B00560030003100300010000000803F000000000000803F04000001001F004B00560030003200FF0100000000000000020000000200000028000000280000000000000000000000050000004B00560030003100320004000000400000000040030000008101030000010104000000
GO
UPDATE STATISTICS [dbo].[tblBan]([PK_tblBan]) WITH STATS_STREAM = 0x0100000001000000000000000000000083367F3C0000000046020000000000000602000000000000E7030000E7000000140000000000000008D00034F3E9270107000000EAE927014DA0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000000040410000004000000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000005600000000000000A20000000000000010000000000000003300000000000000300010000000803F000000000000803F04000001002300420041004E00300030003100300010000000803F000000000000803F04000001002300420041004E00300030003200FF010000000000000002000000020000002800000028000000000000000000000007000000420041004E00300030003100320004000000400000000040050000008101050000010106000000, ROWCOUNT = 15, PAGECOUNT = 1
GO
INSERT [dbo].[tblBan] ([MaBan], [TenBan], [MaKhuVuc]) VALUES (N'BAN001', N'Bàn 1', N'KV01')
INSERT [dbo].[tblBan] ([MaBan], [TenBan], [MaKhuVuc]) VALUES (N'BAN002', N'Bàn 2', N'KV02')
INSERT [dbo].[tblBan] ([MaBan], [TenBan], [MaKhuVuc]) VALUES (N'BAN003', N'Bàn 3', N'KV01')
/****** Object:  Table [dbo].[tblHoaDon]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHoaDon](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaBan] [nvarchar](10) NOT NULL,
	[ThoiGian] [smalldatetime] NOT NULL,
	[ThoiGianRa] [smalldatetime] NULL,
	[MaNhanVien] [nvarchar](10) NOT NULL,
	[TinhTien] [nvarchar](50) NOT NULL,
	[TongTien] [decimal](18, 0) NULL,
	[BangChu] [nvarchar](50) NULL,
	[Karaoke] [decimal](18, 0) NULL,
 CONSTRAINT [PK_tblHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE STATISTICS [_WA_Sys_00000002_35BCFE0A] ON [dbo].[tblHoaDon]([MaBan]) WITH STATS_STREAM = 0x01000000010000000000000000000000985326A4000000000F02000000000000CF01000000000000E7030200E7000000140000000000000008D00034000000000700000023A29000D7A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002B000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001002300420041004E00300030003100FF010000000000000001000000010000002800000028000000000000000000000006000000420041004E00300030003100020000004000000000010600000000
GO
CREATE STATISTICS [_WA_Sys_00000003_35BCFE0A] ON [dbo].[tblHoaDon]([ThoiGian]) WITH STATS_STREAM = 0x01000000010000000000000000000000E725FCC200000000BB010000000000007B010000000000003A0300003A00000004001000000000000000000053007400070000001524B000D8A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000001F000000000000000800000000000000100014000000803F000000000000803F0F02D7A0040000
GO
CREATE STATISTICS [_WA_Sys_00000004_35BCFE0A] ON [dbo].[tblHoaDon]([ThoiGianRa]) WITH STATS_STREAM = 0x0100000001000000000000000000000008F9278600000000940100000000000054010000000000003A029B053A00000004001000000000000000000000000000070000002424B000D8A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000803F0000803F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_35BCFE0A] ON [dbo].[tblHoaDon]([MaNhanVien]) WITH STATS_STREAM = 0x010000000100000000000000000000008806723F000000000F02000000000000CF01000000000000E7030000E7000000140000000000000008D00034000000000700000028A29000D7A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002B000000000000006B000000000000000800000000000000300010000000803F000000000000803F040000010023004E0056003000300030003100FF0100000000000000010000000100000028000000280000000000000000000000060000004E0056003000300030003100020000004000000000010600000000
GO
CREATE STATISTICS [_WA_Sys_00000006_35BCFE0A] ON [dbo].[tblHoaDon]([TinhTien]) WITH STATS_STREAM = 0x0100000001000000000000000000000067D2F2FA000000001B02000000000000DB01000000000000E7030034E7000000640000000000000008D00034010000000700000025A29000D7A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000090410000803F0000000000009041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000000000000000000000000000310000000000000077000000000000000800000000000000300010000000803F000000000000803F0400000100290043006800B001610020007400ED006E006800FF01000000000000000100000001000000280000002800000000000000000000000900000043006800B001610020007400ED006E006800020000004000000000010900000000
GO
CREATE STATISTICS [_WA_Sys_00000007_35BCFE0A] ON [dbo].[tblHoaDon]([TongTien]) WITH STATS_STREAM = 0x01000000010000000000000000000000647DBC6200000000C00100000000000080010000000000006A029B056A0000000900120000000000000000008000D0170700000009C24901D9A0000005000000000000000500000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000190000006666E63F0000A040000080406666E63F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000000000000000000000000000024000000000000000800000000000000100019000000803F000000000000803F016496000000000000040000
GO
CREATE STATISTICS [_WA_Sys_00000008_35BCFE0A] ON [dbo].[tblHoaDon]([BangChu]) WITH STATS_STREAM = 0x010000000100000000000000000000008DC6369A000000008B020000000000004B02000000000000E702A040E7000000640000000000000008D0003400000000070000001AC24901D9A0000005000000000000000500000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000CDCC6C410000A04000008040CDCC6C410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000006900000000000000E7000000000000000800000000000000300010000000803F000000000000803F040000010061006200610020006D00B001A101690020007400E1006D0020006E0067006800EC006E0020006E0003016D0020007400720003016D00200020001101D31E6E006700200063006800B51E6E00FF0100000004000000050000000200000028000000280000000000000000000000250000006200610020006D00B001A101690020007400E1006D0020006E0067006800EC006E0020006E0003016D0020007400720003016D00200020001101D31E6E006700200063006800B51E6E00020000004000000000012500000000
GO
UPDATE STATISTICS [dbo].[tblHoaDon]([PK_tblHoaDon]) WITH STATS_STREAM = 0x0100000001000000000000000000000005FE8356000000000F02000000000000CF01000000000000E7030402E7000000140000000000000008D00034080013000700000027A29000D7A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002B000000000000006B000000000000000800000000000000300010000000803F000000000000803F04000001002300480044003000300030003100FF010000000000000001000000010000002800000028000000000000000000000006000000480044003000300030003100020000004000000000010600000000, ROWCOUNT = 16, PAGECOUNT = 1
GO
INSERT [dbo].[tblHoaDon] ([MaHoaDon], [MaBan], [ThoiGian], [ThoiGianRa], [MaNhanVien], [TinhTien], [TongTien], [BangChu], [Karaoke]) VALUES (N'HD0001', N'BAN009', CAST(0xA0D80282 AS SmallDateTime), CAST(0xA0D80286 AS SmallDateTime), N'NV0001', N'Đã tính', NULL, NULL, NULL)
INSERT [dbo].[tblHoaDon] ([MaHoaDon], [MaBan], [ThoiGian], [ThoiGianRa], [MaNhanVien], [TinhTien], [TongTien], [BangChu], [Karaoke]) VALUES (N'HD0002', N'BAN001', CAST(0xA0D90245 AS SmallDateTime), CAST(0xA0D90484 AS SmallDateTime), N'NV0001', N'Đã tính', NULL, NULL, NULL)
INSERT [dbo].[tblHoaDon] ([MaHoaDon], [MaBan], [ThoiGian], [ThoiGianRa], [MaNhanVien], [TinhTien], [TongTien], [BangChu], [Karaoke]) VALUES (N'HD0003', N'BAN002', CAST(0xA0D90483 AS SmallDateTime), CAST(0xA0D904B0 AS SmallDateTime), N'NV0001', N'Đã tính', CAST(38500 AS Decimal(18, 0)), N'ba mươi tám nghìn năm trăm  đồng chẵn', NULL)
/****** Object:  Table [dbo].[tblChiTietHoaDon]    Script Date: 10/24/2015 21:04:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietHoaDon](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaSanPham] [nvarchar](10) NOT NULL,
	[SoLuong] [int] NOT NULL
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[tblChiTietHoaDon] WITH ROWCOUNT = 25, PAGECOUNT = 2
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'SoLuong>0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tblChiTietHoaDon', @level2type=N'COLUMN',@level2name=N'SoLuong'
GO
CREATE STATISTICS [_WA_Sys_00000001_7F60ED59] ON [dbo].[tblChiTietHoaDon]([MaHoaDon]) WITH STATS_STREAM = 0x01000000010000000000000000000000C62528CE000000001702000000000000D701000000000000E7030000E7000000140000000000000008D00034010000000700000019B6C70054A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080410000803F00000000000080410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000000000000000000000000002F0000000000000073000000000000000800000000000000300010000000803F000000000000803F0400000100270048004400300030003000300030003100FF01000000000000000100000001000000280000002800000000000000000000000800000048004400300030003000300030003100020000004000000000010800000000
GO
CREATE STATISTICS [_WA_Sys_00000002_7F60ED59] ON [dbo].[tblChiTietHoaDon]([MaSanPham]) WITH STATS_STREAM = 0x01000000010000000000000000000000CA1E9FBB00000000FF01000000000000BF01000000000000E70328CEE7000000140000000000000008D00034000000000700000014B6C70054A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000080400000803F000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000300000000000000000000000000000023000000000000005B000000000000000800000000000000300010000000803F000000000000803F04000001001B0053005000FF01000000000000000100000001000000280000002800000000000000000000000200000053005000020000004000000000010200000000
GO
CREATE STATISTICS [_WA_Sys_00000003_7F60ED59] ON [dbo].[tblChiTietHoaDon]([SoLuong]) WITH STATS_STREAM = 0x01000000010000000000000000000000E91AE91E00000000BB010000000000007B0100000000000038035F003800000004000A0000000000000000001800C0170700000019B6C70054A0000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000001F000000000000000800000000000000100014000000803F000000000000803F01000000040000
GO
INSERT [dbo].[tblChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong]) VALUES (N'HD0001', N'SP0008', 1)
INSERT [dbo].[tblChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong]) VALUES (N'HD0002', N'SP0010', 1)
INSERT [dbo].[tblChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong]) VALUES (N'HD0002', N'SP0005', 3)
/****** Object:  StoredProcedure [dbo].[TKTheoNgay]    Script Date: 10/24/2015 21:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TKTheoNgay]
(
	@NgayBD smalldatetime,
	@NgayKT smalldatetime
)
AS
	SET NOCOUNT ON;
SELECT        a.MaHoaDon, c.TenBan, d.TenNhanVien, a.ThoiGian, SUM(e.DonGia * b.SoLuong) AS TongTien
FROM            tblHoaDon AS a INNER JOIN
                         tblChiTietHoaDon AS b ON a.MaHoaDon = b.MaHoaDon INNER JOIN
                         tblBan AS c ON a.MaBan = c.MaBan INNER JOIN
                         tblNhanVien AS d ON a.MaNhanVien = d.MaNhanVien INNER JOIN
                         tblSanPham AS e ON b.MaSanPham = e.MaSanPham
WHERE        (a.ThoiGian BETWEEN @NgayBD AND @NgayKT)
GROUP BY a.MaHoaDon, d.TenNhanVien, c.TenBan, a.ThoiGian
GO
/****** Object:  StoredProcedure [dbo].[InTTHDTheoMa]    Script Date: 10/24/2015 21:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InTTHDTheoMa]
(
	@MaHoaDon nvarchar(10)
)
AS
	SET NOCOUNT ON;
SELECT        a.MaHoaDon, b.TenBan, a.ThoiGian, v.TenNhanVien, SUM(d.SoLuong * e.DonGia) AS Expr1
FROM            tblHoaDon AS a INNER JOIN
                         tblBan AS b ON a.MaBan = b.MaBan INNER JOIN
                         tblNhanVien AS v ON a.MaNhanVien = v.MaNhanVien INNER JOIN
                         tblChiTietHoaDon AS d ON a.MaHoaDon = d.MaHoaDon INNER JOIN
                         tblSanPham AS e ON e.MaSanPham = d.MaSanPham AND a.MaHoaDon = @MaHoaDon
GROUP BY a.MaHoaDon, b.TenBan, a.ThoiGian, v.TenNhanVien
GO
/****** Object:  ForeignKey [FK_tblSanPham_tblLoaiSP]    Script Date: 10/24/2015 21:04:29 ******/
ALTER TABLE [dbo].[tblSanPham]  WITH CHECK ADD  CONSTRAINT [FK_tblSanPham_tblLoaiSP] FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[tblLoaiSP] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[tblSanPham] CHECK CONSTRAINT [FK_tblSanPham_tblLoaiSP]
GO
/****** Object:  ForeignKey [FK_tblBan_tblKhuVuc]    Script Date: 10/24/2015 21:04:29 ******/
ALTER TABLE [dbo].[tblBan]  WITH CHECK ADD  CONSTRAINT [FK_tblBan_tblKhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[tblKhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[tblBan] CHECK CONSTRAINT [FK_tblBan_tblKhuVuc]
GO
/****** Object:  ForeignKey [FK_tblHoaDon_tblBan]    Script Date: 10/24/2015 21:04:29 ******/
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDon_tblBan] FOREIGN KEY([MaBan])
REFERENCES [dbo].[tblBan] ([MaBan])
GO
ALTER TABLE [dbo].[tblHoaDon] CHECK CONSTRAINT [FK_tblHoaDon_tblBan]
GO
/****** Object:  ForeignKey [FK_tblHoaDon_tblNhanVien]    Script Date: 10/24/2015 21:04:29 ******/
ALTER TABLE [dbo].[tblHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tblHoaDon_tblNhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[tblNhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tblHoaDon] CHECK CONSTRAINT [FK_tblHoaDon_tblNhanVien]
GO
/****** Object:  ForeignKey [FK_tblChiTietHoaDon_tblHoaDon1]    Script Date: 10/24/2015 21:04:29 ******/
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDon_tblHoaDon1] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[tblHoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[tblChiTietHoaDon] CHECK CONSTRAINT [FK_tblChiTietHoaDon_tblHoaDon1]
GO
/****** Object:  ForeignKey [FK_tblChiTietHoaDon_tblSanPham]    Script Date: 10/24/2015 21:04:29 ******/
ALTER TABLE [dbo].[tblChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietHoaDon_tblSanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[tblSanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[tblChiTietHoaDon] CHECK CONSTRAINT [FK_tblChiTietHoaDon_tblSanPham]
GO
